body {
  background-image: url("/assets/images/Runway.jpg");
  background-size: 100% 100%;
  font-family: sans-serif;
  margin: 0;
}

html {
  height: 100%;
}

#root > div {
  height: 100vh;
}

td {
  width: 50%;
}

.mainContainer {
  margin-top: 60px;
  height: 80vh;
}

.contentPanel {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  opacity: .8;
  padding-bottom: 10px;
  width: 80%;
}

.centerElement {
  text-align: center;
}
